@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Jost:wght@400;500;800&display=swap');

body{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
    background-color: #EEEFF1;
}

a{
    text-decoration: none;
}

ul,ol{
    list-style-type: none;
}

header{
    padding: 27px 100px 0px 100px;
    display: flex;
    align-items: center;
    font-weight: 500;
    justify-content: space-between;

    nav ul{
        display: flex;
        align-items: center;
        list-style-type: none;
        gap: 30px;
    }

    ul a{
        color: black;
        font-size:15px;
        padding: 10px;
    }

    ul a:hover{
        box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
        transition: 0.3s ease;
        border-radius: 10px;
    }

    ul a:not(:hover){
        box-shadow: none;
        transition: 0.3s ease;
        border-radius: 0px;
    }
}

.header_menu{
    display: flex;
    align-items: center;
}

.header_menu__shop {
    margin-left: 40px;
    position: relative;
    width: 56px; /* Diameter of the circle */
    height: 56px; /* Diameter of the circle */
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
    cursor: pointer;
    
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &:hover{
        box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
        transition: box-shadow 0.3s ease;
        animation: shop-rotate 2s;
    }

    &:not(:hover) {
        box-shadow: none;
        transition: box-shadow 0.3s ease;
    }

}

@keyframes shop-rotate {
    0%{
        transform: rotate(0deg);
        box-shadow: none; 
    }

    100%{
        transform: rotate(360deg);
        box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
    }
}

@mixin button{
    background-color: black;
    border-radius: 63px;
    text-align: center;
    text-transform: uppercase;

    &:hover{
        background-color: white;
        color: black!important;
        box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
        transition: 0.5s ease;
    }

    &:not(:hover){
        box-shadow: none;
        transition: 0.5s ease;
    }
}

.btn{
    @include button;
    margin-left: 20px;
    padding: 15px 30px;
    color: white;
    text-align: center;
}


body{
    background-image: linear-gradient(
    to bottom right, /* Измененное направление градиента */
    rgb(255, 255, 255,100%) 0%,
    rgb(243, 244, 245, 20%) 15%,
    rgb(243, 244, 245, 100%) 30%,
    rgb(243, 244, 245, 0%) 45%,
    rgb(243, 244, 245, 68%) 60%,
    rgb(243, 244, 245, 100%) 75%,
    rgb(255, 255, 255,100%) 100%);
}

header{
    background-color: #EEEFF1;
}


.main_content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    justify-content: space-evenly;
    padding: 1.2vw 4.44vw 3vw;
}

@media screen and (max-width:1200px) {
    .header_menu nav{
        display: none;
    }
}

@media screen and (max-width:650px) {
    header{
        flex-direction: column;
        padding: 15px;
    }

    .header_menu{
        margin-top: 3vw;
    }

    .header_menu__shop{
        margin: 0;
    }
}

@mixin h1{
    font-weight: 800;
    font-size:64px;
}

@mixin p{
    font-size: 24px;
    color: #64646A;
    font-weight: 400;
}

.main_content{
    background-color: #EEEFF1;
}

.main_content__main_text{

    width: 40%;

    h1{
        @include h1;
        margin: 2vw 0px 0px;
        font-size: 7vw;
        line-height: 8vw;
    }

    p{
        margin-top: 30px;
        @include p;
    }
}

.coffee {
    position: relative;
    width: 600px;
    animation: moveCoffee 1.5s infinite alternate;

    img{
        width: 100%;
    }
}

@keyframes moveCoffee {
    0% {
        top: 35px;
    }
    100% {
        top: -10px; /* Новое положение картинки при анимации */
    }
}

.main_content__main_text_button{
    @include button;
    width: 200px;
    padding: 20px 40px;
    color: white!important;
    line-height: 30px;
    font-weight: 500;
}

@media screen and (min-width:2100px) {
    .coffee{
        img{
            width: 30vw; 
        }
    }
        header{
            nav ul{
                display: flex;
                align-items: center;
                list-style-type: none;
                gap: 30px;
            }
        
            ul a{
                color: rgb(0, 0, 0);
                font-size:20px;
                padding: 10px;
            }
        }

        .btn{
            font-size: 20px;
            text-transform: uppercase;
        }

        .main_content__main_text_button{
            @include button;
            padding: 30px 70px;
            color: white;
            line-height: 30px;
        }
}

.main_content__button{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    
    a{
        font-size: 1.3rem;
        color: #1B1B1D;
        font-weight: 500;
        border-bottom: 2px solid #1B1B1D;
    }
}

@media screen and (max-width:1100px) {
    
    .main_content__main_text {
        width: 80%;
    }

    .coffee{
        animation: none;

        img{
            margin-top: 4vw;
            width: 100%;
        }
    }

    .main_content__main_text {
        h1{
        text-align: center;
        line-height: 11vw;
        font-size: 10vw;
        margin: 8vw 0px 0px;
    }

    p{
        text-align: center;
        font-size: 4vw;
    }
    }

    .main_content__button{
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }
}

.cafe_menu{
    margin-top: 150px;
    position:relative;
}

.fon_coffee{
    position: absolute;
    top: -10rem;
    left: 0;
    z-index: 0;

    img{
        width: 100%;
    }
}

.cafe_menu__text{

    position: relative;
    z-index: 2;

    h1{
        @include h1;
        margin: 0;
        line-height: 1;
        text-align: center;
        font-size: 64px;
    }
    p{
        @include p;
        font-size: 25px;
        margin: 0;
        line-height: 35px;
        margin-top: 30px;
        text-align: center;
    }
}

.card_menu{
    padding: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    z-index: 2;
    flex-wrap: wrap;

    article{
        background-image: linear-gradient(
        to bottom right, /* Измененное направление градиента */
        rgb(255, 255, 255,100%) 0%,
        rgb(255, 255, 255,0%) 100%);
        border-radius: 24px;
        width: 350px;
        padding: 40px 25px;
        display: flex;
        flex-direction: column;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);

        h1{
            @include h1;
            line-height: 1;
            font-size: 36px;
            margin: 0;
            text-align: start;
        }

        p{
            @include p;
            font-size: 22px;
            line-height: 30px;
            margin: 15px 0 0 0;
        }

        img{
            align-self: center;
            margin-top: 60px;
        }

        a{
            width: 60%;
            margin: 0 auto;
            margin-top: 60px;
            @include button;
            color: white!important;
            padding: 10px 30px;
            text-transform: uppercase;
        }

        &:hover img{
            filter: hue-rotate(180deg);
        }
    }
}

@media screen and (max-width:700px) {

    .cafe_menu__text{
    
        h1{
            line-height: 80px;
        }
        p{
            font-size: 25px;
            line-height: 30px;
        }
    }

    .card_menu{
        padding: 50px 15px;
    }

    .fon_coffee{
        display: none;
    }

    .header_menu{
        display: none;
    }
}

.favourite_coffee_content{
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    justify-content: center;
    gap: 21px;
    padding: 50px;
}

.favourite_coffee_content__text{
    width: 35vw;

    h1{
        @include h1;
        font-size: 64px;
        line-height: 70px;
    }

    p{
        @include p;
        font-size: 24px;
    }

    a{
        @include button;
        display: block;
        width: 10rem;
        margin-top: 50px;
        color: white;
        padding: 15px 35px;
    }
}

.favourite_coffee_content__image{
    img{
        width: 100%;
    }
}

.favourite_coffee_content__image {
    position: relative;
    animation: moveCoffee 1.5s infinite alternate;

    img{
        width: 100%;
    }
}

@media screen and (max-width:1450px) {

    .favourite_coffee_content{
        padding: 10px;
    }

    .favourite_coffee_content__text{
        width: 90vw;

        h1{
            text-align: center;
        }
    
        a{
            margin: 0 auto;
        }
    }
    

.favourite_coffee_content__image {
    animation: none;
}
}


.instant_coffee {
    position: relative;
    margin-top: 12rem;


    &__body {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        padding: 0 0 0 30px;
    }
}
.instant_coffee_body {

    z-index: 1;

    &__info {

        width: 40em;

        h1{
            @include h1;
            margin: 0;
        }

        p{
            @include p;
            margin: 30px 0 0 0;
        }

        a{
            @include button;
            display: block;
            width:15em;
            margin-top: 60px;
            color: white;
            padding: 15px 30px;
        }
    }

    &__image {
        img{
            width: 100%;
        }
    }
}

.instant_coffee__background {
    position: absolute;
    left: 0px;
    top: 0;
    z-index: 0;
}

@media screen and (min-width:2000px) {
    .instant_coffee__background {
        img{
            width: 600px;
        }
    }

    .fon_coffee{
        img{
            width: 600px;
        }
    }
}

@media screen and (max-width:1400px) {

    .instant_coffee__background{
        display: none;
    }

    .instant_coffee {
        &__body {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            position: relative;
            padding: 0 30px 0 30px;
        }
    }
    .instant_coffee_body {

        &__info {
    
            width: 40em;
            margin: 0 auto;
            text-align: center!important;
    
            h1{
                @include h1;
                margin: 0;
            }
    
            p{
                @include p;
                margin: 30px 0 0 0;
                text-align: center
            }
    
            a{
                @include button;
                display: block;
                width:15em;
                margin-top: 60px;
                color: white;
                margin: 60px auto;
                padding: 15px 30px; 
            }
        }
    }
}


.card_coffee {
    position: relative;
    margin-top: 228px;
    padding: 0 20px;
    z-index: 2;

    &__background{
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }

    &__title {
        h1{
            @include h1;
            margin: 0;
            text-align: center
        }

        p{
            @include p; 
            margin: 0;
            margin-top: 24px;
            text-align: center;
        }
    }

    &__card-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        align-items: center;
        margin-top: 104px;
    }

    &__items {
    display: flex;
    align-items: center;
    margin-top: -60px;
    }

    &__image {
        img{
            width: 100%;
        }
    }

    &__name {
        h1{
            margin: 0;
            font-size: 40px;
            line-height: 44px;
        }
        
        span{
            margin: 0;
            margin-top: 8px;
            color: #64646A;
            line-height: 28px;
        }
    }
}

.card_coffee__column{
    width: 350px;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(
        to bottom right, /* Измененное направление градиента */
        rgb(255, 255, 255,100%) 0%,
        rgb(255, 255, 255,0%) 100%);
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        padding: 0 30px;
    transition: anim 2s ease;

    &:hover{
        transform: scale(1.1);
        background-image: linear-gradient(
        to bottom right, /* Измененное направление градиента */
        rgb(255, 255, 255,100%) 0%,
        rgb(255, 255, 255,100%) 100%);
        
    }
}

.card_coffee__text{
        p{
            color: #64646A;
            margin-top: 20px;
            font-size: 20px;
            line-height: 28px;
        }
        
}

.card_coffee__price{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;
        flex-wrap: wrap;

        span{
            color: black;
            font-size: 30px;
            font-weight: 500;
        }

        a{
            @include button;
            color: white;
            padding: 15px 30px;
        }
}


@media screen and (max-width:1350px) {

    .card_coffee{
        &__background{
            display: none;
        }
    }

    .card_coffee__column{
        margin-top: 3rem;
        
    }

    .card_coffee__items{
        flex-direction: column;
        align-items: flex-start;
    }

    .card_coffee__column{
        transition: none;
    
        &:hover{
            transform: none;
            background-image: linear-gradient(
            to bottom right, /* Измененное направление градиента */
            rgb(255, 255, 255,100%) 0%,
            rgb(255, 255, 255,0%) 100%);
            
        }
    } 
}

.reviews{
    position: relative;
    margin-bottom: 10rem;

    &__background{
        position:absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
        width: 10%;
        img{
            width: 100%; 
        }
    }

    &__title{
        h1{
            @include h1;
            text-align: center;
            font-size: 55px;
        }
    }
}

.reviews_body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    &__card{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 30px;
        z-index: 2;
        overflow-x: auto;
        padding:0 30px;
    }
}

@media screen and (max-width:1300px) {
    .reviews_body{
    
        &__card{
            padding:0;
        }
    } 
}

.card{
    background-color: white;
    border-radius: 16px;
    min-width: 25rem;
    max-width: 25rem;
    min-height: 34rem;
    max-height: 34rem;

    &__girl{
    width: 100%;
        img{
            width: 100%;
            border-radius: 16px 16px 0 0;
        }
    }

    p{
        margin:1.5rem 2rem;
    }

    &__title{
        margin:1.5rem 2rem;
        display: flex;
        align-items: center;
        gap: 15px;

        span{
            line-height: 30px;
            font-weight: 700;
            font-size: 20px;
            color: #1B1B1D;
        }
    }
}

.footer_body {
    display: flex;
    justify-content: space-evenly;
    padding: 0 20px;
    gap: 50px;
    flex-wrap: wrap;
}

.footer_body_text {
    width: 30rem;
    padding: 0 10px;

    p{
        margin: 0;
        color: #64646A;
        line-height: 25px;
    }

    h1{
        margin: 2.5rem 0 0 0;
    }

    a{
        color: #1B1B1D;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 12px;
    }

    &__logo{

    }
}
.footer_body_networks {


    &__display{
        display: flex;
        align-items: center;
        margin-top: 1rem;
        
        img{
            width: 60px;
            height: 60px;
            transition: 0.5 ease;
            cursor: pointer;
        }

        img:hover{
            transform: scale(1.1); 
        }

        span{
            margin: 0;
            margin-left: 1rem;
            color: #64646A;
        }
    }

    &__label{
        .e-mail{
            border-radius: 65px;
            padding: 20px 30px;
            width: 70%;
            border:none;
            font-size: 15px;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
        }
    }

    &__label{
        .e-mail:focus{
            outline: none;
            transform: scale(1.1);
        }
    }

    .button{
        @include button;
        margin-top: 1rem;
        background-color: #1B1B1D;
        color: white;
        border-radius: 126px;
        padding: 15px 40px;
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
    }
}

.footer_hr{
    margin-top: 2rem;
    width: 80%;
    margin: 0 auto;
    
    span{
        color: #64646A;
        font-weight: 300;
    }

    hr{
        margin: 3rem auto 1rem;
        border: 1px solid rgba(27, 27, 29, 0.1);
    }

    &__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        p{
            color: #1B1B1D;
            font-weight: 500;
        }
    }
}





































